.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.line-through {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.monospaced {
    font-family: monospace;
}

.admonitionblock {
    td {
        padding: 10px;
    }
}

.quoteblock {
    blockquote {
        margin-left: 40px;
    }

    .attribution {
        margin-left: 80px;
    }
}

.verseblock {
    margin-left: 1em;

    pre {
        font-family: inherit;
        color: #666;
    }
}

ol {
    &.arabic {
        list-style: decimal;
    }

    &.upperalpha {
        list-style: upper-alpha;
    }
}
