html {
    margin: 0;
    height: 100%;
}

body {
    background-color: #FBFBFB;
    margin-bottom: 0;
    margin-top: 0;
    height: 100%;
    font-family: "PT Serif", serif;
    text-decoration-skip-ink: none;
}

img {
    border-width: 0;
}

table, td {
    border-width: 0
}

hr {
    border: none;
    height: 1px;
    background-color: lightgrey;
}

pre {
    font-family: inherit;
}
