.photo-gallery {
    padding: 0;

    > li {
        float: left;
        list-style: none;
        background: #f8f8f4;
        border: 1px #ddd solid;
        width: 220px;
        height: 290px;
        margin: 0 5px 5px 0;

        > .photo-image {
            vertical-align: middle;
            display: table-cell;
            text-align: center;
            width: 220px;
            height: 220px;

            img {
                max-width: 220px;
                max-height: 220px;
            }
        }

        > .photo-caption {
            padding: 5px 10px;
        }
    }
}
