.color-Eridel {
    color: #e00de0;
}

.color-LytaAlexander {
    //color: #000ede; original color conflicts with links
    color: #0aaeae;
}

.color-Mari {
    color: #00a000;
}

.color-Finrod_Felagund {
    color: #f0d0a0
}
