.news {
    p {
        margin-top: 0;
    }
}

.news-date {
    display: inline-block;
    vertical-align: top;
    width: 130px;
}

.news-item {
    display: inline-block;
    max-width: 784px - 68px - 130px - 30px; // content - news-date - padding
}

.paginator {
    text-align: center;
}

.page-link {
    margin: 0 15px;
}

main img {
    max-width: 100%;
}
