.layout-table {
    height: 100%;
    border-collapse: collapse;
    margin: 0 auto;

    td {
        padding: 0;
        vertical-align: top;
    }
}

.layout-col-left {
    width: 164px;
}

.layout-col-logo {
    width: 784px;
}

.layout-col-content {
    width: 784px - 68px;
}

.layout-row-top {
    height: 37px;
}

.layout-menu-divider {
    width: 56px;
    min-width: 56px;
    background:
        url(../img/left_top.png) no-repeat,
        url(../img/left_back.png) repeat-y;
}

.layout-right-divider {
    width: 68px;
    min-width: 68px;
    background:
        url(../img/right_top.png) no-repeat,
        url(../img/right_back.png) repeat-y;
}

.layout-logo-row {
    height: 85px;
}

.layout-logo-left {
    background: url(../img/top1.png) no-repeat, black;
}

.layout-logo-top {
    background: url(../img/top2u.png) no-repeat center bottom;
}

.layout-logo-right {
    background: url(../img/top2l.png) no-repeat center top, black;
}

.main-menu {
    list-style: none;
    padding: 0;
}

main, .mobile-menu {
    margin: 6px 12px;
}

.layout-table .footer-container {
    vertical-align: bottom;
    padding-bottom: 1em;
}

footer {
    text-align: center;
    color: gray;

    a, a:hover, a:visited {
        color: gray;
    }
}

.mobile-menu, .mobile-menu > .main-menu {
    display: none;
}

@media screen and (max-width: 640px) {
    .layout-col-left, .layout-menu-divider, .layout-right-divider {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .hamburger {
        box-sizing: content-box;
        width: 30px;
        height: 30px;
        padding: 0;
        border: 1px solid lightgray;

        div {
            width: 17px;
            height: 3px;
            background-color: gray;
            margin: 4px auto;
        }
    }
}
