<footer>
    <hr>
    ©
    <!-- {% include year.html date='2004-09-01' -%} -->2004
    {{- '-' -}}
    <!-- {%- include year.html date='now' %} -->{{- 'now' | date: '%Y' }}
    НП "Авалон"
    <br>
    Дизайн: Titus (графика), <a href="https://sunchaser.info/" target="_blank">Christian Archer</a> (верстка)
    <br>
    Разработка:
    <a href="https://sunchaser.info/" target="_blank">Christian Archer</a>, Standells
    <br>
    Сайт работает на технологиях
    <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>
    и
    <a href="https://netlify.com" target="_blank">Netlify</a>
</footer>
