<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/css/style-r2.css' | relative_url }}">
    <link rel="alternate" type="application/atom+xml" href="{{ '/feed.xml' | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if layout.lightbox %}
        <link rel="stylesheet" href="{{ '/assets/lightbox/css/lightbox.min.css' | relative_url }}">
        <script src="{{ '/assets/lightbox/js/lightbox-plus-jquery.js' | relative_url }}"></script>
    {% endif %}
    {%- seo -%}
</head>
