<ul class="main-menu">
    <li><a href="{{ '/' | relative_url }}">
        <img src="{{ '/img/menu_news.png' | relative_url }}" alt="Новости Авалона">
    </a></li>
    <li><a href="{{ '/names.html' | relative_url }}">
        <img src="{{ '/img/menu_names.png' | relative_url }}" alt="Имена и лица">
    </a></li>
    <li><a href="{{ '/create.html' | relative_url }}">
        <img src="{{ '/img/menu_create.png' | relative_url }}" alt="Творчество">
    </a></li>
    <li><a href="{{ '/vestnik.html' | relative_url }}">
        <img src="{{ '/img/menu_vestnik.png' | relative_url }}" alt="Вестник Авалона">
    </a></li>
    <li><a href="{{ '/project.html' | relative_url }}">
        <img src="{{ '/img/menu_projects.png' | relative_url }}" alt="Проекты">
    </a></li>
    <li><a href="{{ '/foto/' | relative_url }}">
        <img src="{{ '/img/menu_photos.png' | relative_url }}" alt="Фотоальбом">
    </a></li>
    <li><a href="{{ '/forums/' | relative_url }}">
        <img src="{{ '/img/menu_forum.png' | relative_url }}" alt="Форум">
    </a></li>
</ul>
{% comment %}
<br/>
<br/>

<a href="uralfest/">
    <img src="img/uralfest.png" alt="УралФест">
</a>
{% endcomment %}
