<div class="mobile-menu">
    <button class="hamburger" onclick="hamburger()">
        <script>
            function hamburger() {
                var mobileMenu = document.getElementsByClassName('mobile-menu')[0];
                console.log(mobileMenu);
                var mainMenu = mobileMenu.getElementsByClassName('main-menu')[0];
                console.log(mainMenu);

                console.log(mainMenu.style.display);

                if (mainMenu.style.display === 'none' || mainMenu.style.display === '') {
                    mainMenu.style.display = 'block';
                } else {
                    mainMenu.style.display = 'none';
                }
            }
        </script>
        <div></div>
        <div></div>
        <div></div>
    </button>
    {%- include menu.html -%}
    <hr/>
</div>
