.logo {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.layout {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.menu {
    width: 25%;

    img {
        display: block;
    }
}

.content {
    width: 75%;
    background: #e2d7c1;
    padding: 0 16px;
}
