<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<body>
<table class="layout-table">
    <tr>
        <td class="layout-col-left layout-row-top"></td>
        <td rowspan="4" class="layout-menu-divider"></td>
        <td colspan="2" class="layout-row-top layout-logo-top layout-col-logo"></td>
    </tr>
    <tr>
        <td class="layout-col-left layout-logo-row layout-logo-left"></td>
        <td colspan="2" class="layout-logo-row layout-logo-right layout-col-logo"></td>
    </tr>
    <tr>
        <td rowspan="2" class="layout-col-left">
            {%- include menu.html -%}
        </td>
        <td class="layout-col-content">
            {%- include menu-mobile.html -%}
            <main>
                {{- content -}}
            </main>
        </td>
        <td rowspan="2" class="layout-right-divider"></td>
    </tr>
    <tr>
        <td class="footer-container">
            {%- include footer.html -%}
        </td>
    </tr>
</table>
</body>
</html>
