---
layout: default
lightbox: true
---
{{ content }}

<ul class="photo-gallery">
    {% for image in page.gallery.images %}
        <li>
            <div class="photo-image">
                {% if image.url %}
                    <a href="{{ page.gallery.path }}/{{ image.url }}">
                        <img alt="{{ image.title }}" title="{{ image.title }}" src="{{ page.gallery.path }}/{{ image.file }}">
                    </a>
                {% else %}
                    <a href="{{ page.gallery.path }}/{{ image.file }}"
                       data-lightbox="gallery"
                       data-title="{{ image.title }}">
                        <img alt="{{ image.title }}" title="{{ image.title }}" src="{{ page.gallery.path }}/{{ image.file }}">
                    </a>
                {% endif %}
            </div>
            <div class="photo-caption">
                {% if image.title %}
                    {% if image.url %}
                        <a href="{{ page.gallery.path }}/{{ image.url }}">
                            {{ image.title }}
                        </a>
                    {% else %}
                        {{ image.title }}
                    {% endif %}
                {% endif %}
                {% if image.subtitle %}
                    <br>{{ image.subtitle }}
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
