---
layout: default
---
{{ content }}

<hr>

<p class="text-center">
    <b>
        Новости Авалона
        <a href="{{ '/feed.xml' | relative_url }}">
            <img src="{{ '/img/feed-icon.png' | relative_url }}">
        </a>
    </b>
</p>

<div class="news">
    {%- if site.posts.size > 0 -%}
        {%- for post in paginator.posts -%}
            <p class="news-date"><b>{% include date.html date=post.date %}</b></p>
            <article class="news-item">
                {%- if post.includetext -%}
                    {{ post.content }}
                {%- endif -%}
            </article>
            <br>
        {%- endfor -%}

        {% if paginator.total_pages > 1 %}
            <p class="paginator">
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | relative_url }}" class="page-link">« старое</a>
                {% endif %}
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | relative_url }}" class="page-link">новое »</a>
                {% endif %}
            </p>
        {% endif %}
    {%- else -%}
        <b>Нет новостей :(</b>
    {%- endif -%}
</div>
