<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>УралФест-2007</title>
    <link rel="stylesheet" href="{{ "/uralfest/css/uralfest.css" | relative_url }}">
</head>
<body>
    {%- assign uf  = "/uralfest" | relative_url -%}
    {%- assign img = "/uralfest/img" | relative_url -%}
    <img src="{{img}}/top.jpg" alt="УралФест-2007, ПостСкриптум." class="logo">

    <table class="layout">
        <tr>
            <td class="menu">
                <a href="{{uf}}/">
                    <img src="{{img}}/btn_main.jpg" alt="Главная">
                </a>
                <a href="{{uf}}/uf_about.html">
                    <img src="{{img}}/btn_about.jpg" alt="О фестивале">
                </a>
                <a href="{{uf}}/uf_reg.html">
                    <img src="{{img}}/btn_reg.jpg" alt="Регистрация">
                </a>
                <a href="{{uf}}/uf_prog.html">
                    <img src="{{img}}/btn_prog.jpg" alt="Программа">
                </a>
                <a href="{{ "/forums/ikonboard.cgi?act=SF;f=2" | relative_url }}">
                    <img src="{{img}}/btn_forum.jpg" alt="Форум">
                </a>
                <a href="{{uf}}/uf_news.html">
                    <img src="{{img}}/btn_ravn.jpg" alt="">
                </a>
            </td>

            <td class="content">
                {{ content }}
            </td>
        </tr>
    </table>
</body>
</html>
